/* Reset de estilo */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body e fontes */
body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
}

h1, h2 {
    color: #333;
    margin-bottom: 10px;
}

/* Títulos das seções */
h2 {
    font-size: 1.8rem;
    margin-bottom: 15px;
    color: #3498db; /* Cor azul para destacar os títulos */
}

a {
    text-decoration: none;
    color: #3498db;
}

a:hover {
    text-decoration: underline;
}

/* Container de cabeçalho */
header {
    background-color: #3498db;
    color: white;
    padding: 20px 0;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.profile-photo {
    border-radius: 50%;
    width: 120px;
    height: 120px;
    margin-right: 20px;
}

h1 {
    font-size: 2.5rem;
}

p {
    font-size: 1.1rem;
}

/* Layout de Grid Principal */
.main-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    padding: 20px;
}

/* Estilos das Seções */
.grid-item {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#projetos ul, #cursos ul {
    list-style-type: none;
}

#projetos li, #cursos li {
    margin-bottom: 15px;
}

#cursos li a.in-progress {
    color: #f39c12;
}

#cursos li a.completed {
    color: #2ecc71;
}

/* Estilos para os links de download */
.download-link {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #3498db;
    color: white;
    border-radius: 5px;
    text-align: center;
}

.download-link:hover {
    background-color: #2980b9;
}

/* Estilo do Footer */
footer {
    text-align: center;
    background-color: #2c3e50;
    color: white;
    padding: 10px 0;
    margin-top: 30px;
}

footer p {
    font-size: 0.9rem;
}

/* Responsividade */
@media (max-width: 768px) {
    .header-container {
        flex-direction: column;
    }

    .profile-photo {
        margin-bottom: 10px;
    }
}
